.location-stations {
  margin-top: 4px;
  margin-bottom: 24px;
}

.location-stations-link {
  margin-left: 28px;
  margin-right: 16px;
  display: inline-flex;
  align-items: center;
  position: relative;
  border-bottom: 1px dashed;
}

.location-stations-link:hover {
  border: none;
  cursor: default;
}

.location-stations-link::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: #71CFEC;
  left: -28px;
  border-radius: 50%;
}

@media (max-width: $mobile-width) {
  .location {
    margin-bottom: -144px;
  }
}